<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Elenco Disponibilita Prenotazione')"></head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>
	
	<section class="generic_section">
		<div class="container">
			<div class="mb-4">
				<h2>Elenco Disponibilita' del Dipendente</h2>
			</div>
			<br>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Data</th>
								<th scope="col">Ora Inizio</th>
								<th scope="col">Ora Fine</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="disponibilita : ${disponibilitaList}">
								<th scope="row" th:text="${disponibilita.id}">1</th>
								<th th:text="${disponibilita.data}"></th>
								<th th:text="${disponibilita.oraInizio}"></th>
								<th th:text="${disponibilita.oraFine}"></th>
								<th>
									<input type="checkbox" name="idChecked">
									<!-- <a class="btn btn-success" th:href="@{'/admin/disponibilita/edit/' + ${disponibilita.id}}">Modifica Disponibilit&agrave;</a> -->
								</th>
							</tr>
						</tbody>
					</table>
				</div>
				<br>
				<button type="submit">Conferma</button>

			<div th:replace="fragments/layout.html :: backButton(back='/admin/dipendenti', text1='Indietro', back2='no', text2=' ')"></div>
		</div> <!-- end container -->
	</section>

	<footer th:replace="fragments/layout.html :: fondo"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>