<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi regista</title>
		<link rel="stylesheet" href="/css/stile.css" />
	</head>
	
	<body>
		<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
		<h1>Aggiungi regista al film</h1>
	    <div th:if="${directors.isEmpty()}">Non ci sono registi nel sistema</div>
    	<ul>
      	<li th:each="director : ${directors}">
        <a th:href="@{'/setDirectorToMovie' + '/' + ${director.id} + '/' + ${movie.id}}"
           th:text="${director.name} + ' ' + ${director.surname}">Stanley Kubrick</a>
        </li>
        </ul>
	</body>
</html>