<!DOCTYPE html>
<html>

  <head>
    <title>Artists</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <h1>Artisti</h1>
    <div th:if="${artists.isEmpty()}">Non ci sono artisti nel sistema</div>
    <ul>
      <li th:each="artist : ${artists}">
        <a th:href="@{'/artist' + '/' + ${artist.id}}"
           th:text="${artist.name} + ' ' + ${artist.surname}">Stanley Kubrick </a>
      </li>
    </ul>
  </body>

</html>
