<!DOCTYPE html>
<html>

  <head>
    <title>Bookings</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/">Home</a></div>
    <h1>Prenotazioni</h1>
    <div th:if="${bookings.isEmpty()}">Non ci sono prenotazioni nel sistema</div>
    <ul>
      <li th:each="booking : ${bookings}">
        <a th:href="@{'/admin/bookings' + '/' + ${booking.id}}"
           th:text="${booking.user} + ' (' + ${booking.play.name} + ')'" ></a>
       
      </li>
    </ul>
  </body>

</html>
