<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Artist Form</title>
</head>
<body>
	<h1>Aggiungi artista</h1>
    <form th:action="@{/artists}" th:object="${artist}" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Nome</label>
            <input type="text" id="name" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div>
            <label for="surname">Cognome</label>
            <input type="text" id="surname" th:field="*{surname}" />
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</span>
        </div>
        <div>
            <label for="dateOfBirth">Data di nascita</label>
            <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" />
            <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of Birth Error</span>
        </div>
        <div>
            <label for="role">Ruolo</label>
            <input type="text" id="role" th:field="*{role}" />
            <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</span>
        </div>
        <div>
            <label for="file">Immagine</label>
            <input type="file" id="file" name="file" />
        </div>
        <div>
            <button type="submit">Conferma</button>
        </div>
    </form>
</body>
</html>
