<!DOCTYPE html>
<html>
<head>
    <title>Search Booking</title>
    <link rel="stylesheet" href="/css/stile.css" />
    <div th:replace="~{fragments :: Stylesheet}"></div> <!-- Aggiungi se necessario -->
</head>

<body>
   <div th:replace="~{fragments :: Navbar-admin}"></div></div>
   <div class="wrapper d-flex flex-column min-vh-100">
   <main class="flex-fill">	

    <div class="container">
        <h1 class="text-center text-uppercase fw-bolder pt-5">Cerca prenotazione per username</h1>

        <div class="row justify-content-center">
            <div class="col-md-6 mb-5">
                <form th:action="@{/admin/searchBooking}" method="post" class="my-3">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" th:value="${username}" class="form-control" id="username" name="username" />
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Cerca</button>
                    </div>
                </form>

                <div th:if="${errorMessage}" class="alert alert-danger mb-3" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>
            </div>
        </div>
    </div>
   </main>
    <div th:replace="~{fragments :: Footer}"></div>
   </div>
</body>
</html>
