<!DOCTYPE html>
<html>
<head>
    <title>Manage Bookings</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
    <div th:replace="~{fragments :: Stylesheet}"></div>
</head>
<body>
	<div class="wrapper d-flex flex-column min-vh-100">
	<main class="flex-fill">	

    <div th:replace="~{fragments :: Navbar-admin}"></div>

    <div class="container">
        <h1 class="text-center">Gestisci prenotazioni</h1>
		<br>
        <div th:if="${bookings.isEmpty()}" class="alert alert-danger">Non ci sono prenotazioni nel sistema</div>

        <div th:if="${!bookings.isEmpty()}">
            <div class="d-flex justify-content-center mb-4 mt-4">
                <a href="/admin/formSearchBooking" class="btn btn-danger">Cerca prenotazione per username</a>
            </div>

			<div class="row">
			    <div th:each="booking : ${bookings}" class="col-md-4 mb-4">
			        <div class="artist-box rounded-3 border-2">
			            <div class="text-white">Utente: <a th:text="${booking.user}"></a></div>
			            <div class="text-white">Spettacolo: <a th:text="${booking.play.name}"></a></div>
			            <div class="text-white">Indirizzo: <a th:text="${booking.play.location + ', ' + booking.play.city}"></a></div>
						<div class="text-white">Giorno: <a th:text="${#temporals.format(booking.play.date, 'dd-MM-yyyy')} + ', ore ' + ${#temporals.format(booking.play.date, 'HH:mm')}"></a></div>
						<div class="text-white">Numero Biglietti: <a th:text="${booking.numTickets}"></a></div>

						<br>
						<div class="mt-auto text-end">
						    <a th:href="@{'/admin/formUpdateBookingTickets/' + ${booking.id}}" class="btn btn-danger">Aggiorna Biglietti</a>
							<a th:href="@{'/admin/removeBooking/' + ${booking.id}}" class="btn btn-danger">Rimuovi</a>
						</div>
			        </div>
			    </div>
			</div>
        </div>
    </div>
	</main>
      <div th:replace="~{fragments :: Footer}"></div>
	</div>
</body>
</html>
