<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title='Elenco Dipendenti')"></head>
<body>
	<header th:replace="fragments/layout.html :: navMenu"></header>
	
	<section class="generic_section">
		<div class="container">
			<div class="mb-4">
				<h2>Elenco Dipendenti</h2>
			</div>

			<div class="row">

				<div th:each="dipendente : ${dipendenti}" class="col-md-4">
					<div class="team-member">
						<figure>
							<div th:if="${dipendente.img == 'profili'}">
								<img src="/images/dipendente/dipendente.jpg" alt="">
							</div>
							<div th:unless ="${dipendente.img == 'profili'}">
								<img th:src="'/images/dipendente/profili/' + ${dipendente.img}" alt="Profile dipendente">
							</div>

							<figcaption class="text-center">
								<h3 th:text="${dipendente.nome} + ' ' + ${dipendente.cognome}"></h3>
								<p th:text="${dipendente.specializzazione}">Dipendente</p>
								<p><a th:href="@{/profile}" class="btn btn-dark">Prenota un Appuntamento</a></p>
							</figcaption>
						</figure>
						<h4 th:text="${dipendente.nome} + ' ' + ${dipendente.cognome}"></h4>
						<p th:text="${dipendente.specializzazione}"></p>
					</div>
				</div>
			</div>

			<br>

			<div th:replace="fragments/layout.html :: backButton(back='/', text1='Indietro', back2='no', text2=' ')"></div>
		</div> <!-- end container -->
	</section>

	<footer th:replace="fragments/layout.html :: fondo"></footer>
	<div th:replace="fragments/layout.html :: jsFiles"></div>
</body>
</html>