<!DOCTYPE html>
<html>
	<head>
		<title>Aggiorna film</title>
		<link rel="stylesheet" href="/css/stile.css" />
	</head>
	
	<body>
		<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
		<h1>Aggiorna film</h1>
		<a th:text="'Titolo: ' + ${movie.title} + ' (' + ${movie.year} + ')'">Up!(2000)</a>
		<p>
			<h3>Modifiche:</h3>
			<a th:href="@{'/addDirector/' + ${movie.id}}">Aggiungi regista</a>
			<br>
			<a th:href="@{'/addActors/' + ${movie.id}}">Aggiungi attori</a>
		</p>
	</body>
</html>
