<!DOCTYPE html>
<html>
	
	<head>
		<title>Gestisci film</title>
		<link rel="stylesheet" href="/stile.css?version=2" />
	</head>
	
	<body>
		<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
		<h1>Gestisci film</h1>
		<div th:if="${movies.isEmpty()}">Non ci sono film nel sistema</div>
		<ul>
        <li th:each="movie : ${movies}">
        	<a th:text="${movie.title}">Up!</a>
			<a th:href="@{'/formUpdateMovie/' + ${movie.id}}">(Aggiorna)</a>
        </li>
        </ul>
	    </body>
</html>