<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
		SiwTheatre - Homepage
	</title>	
	<div th:replace="~{fragments :: Stylesheet}"></div>
</head>
<body>	
	<div th:replace="~{fragments :: Navbar-logged}"></div>
	<div th:replace="~{fragments :: Carousel-home}"></div>
	<!------------Sezione Chi Siamo------------->
	<section class="about-section">
	    <div class="container text-center">
	        <h2 class="mt-2">CHI SIAMO</h2>
	        <p class="mt-4">Controtempo Theatre è una compagnia teatrale professionale che produce spettacoli portati in scena non solo a teatro ma anche in luoghi non convenzionali, in un'ottica di valorizzazione e diffusione della conoscenza di siti e strutture di interesse storico culturale e attraverso modalità più coinvolgenti e interattive quali quella itinerante e quella a 360 gradi.</p>
	        <a href="/artists" class="btn btn-lg my-3">Scopri gli Artisti</a>
	    </div>
	</section>	
	<div th:replace="~{fragments :: Footer}"></div>
</body>
</html>