/* custom.css */

:root {
  --red-logo: #A4171F;
  --highlight: #DB9D47; /*Completa la palette, salvato per uso futuro*/
  --secondary-red: #D11D27;
  --gray: #54595F;
  --gray-hover: #CBCBCB;
  --black: #141414;
}

h1{
  color: #FFFFFF;
}

body{
  background-color: #54595F;
}

.custom-navbar {
  background-color: #141414; /* Arancione */
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #FFFFFF; /* Colore del testo normale */
  font-size: x-large;
}

/********************************************GRID HOME*************************************************************/
.navbar-nav .nav-link {
    color: white;
    position: relative;
}

/* Animazione di sottolineatura al passaggio del mouse */
.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #A4171F;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #A4171F;
}


.navbar-nav .nav-link:hover::before {
    width: 100%;

}

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
  max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
  position: relative;
  display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(93, 46, 140, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
/************************************************GENERIC GRID*****************************************************/
.grid-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #CD4B27;
}
.grid-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
.grid-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.grid-box {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 15px;  
}

.grid-box img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.grid-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(93, 46, 140, 0.8); /* Overlay viola */
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-box:hover::after {
  opacity: 1;
}

.grid-box:hover img {
  transform: scale(1.1);
}


.mt-n2 {
  margin-top: -0.50rem !important;
}

/* CSS per garantire che il footer sia sempre in fondo */
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main.flex-fill {
    flex: 1 0 auto;
}


/***********************************************Classi base*********************************************************/
.text-red{
	color: #A4171F;
}
.text-white{
	color: #FFFFFF;
}
.text-black{
	color: #141414;
}
.bg-red{
	background-color: #A4171F;
}
.bg-white{
	background-color: #FFFFFF;
}
.bg-black{
	background-color: #141414;
}


.icon-pref{
  text-align:center;
}