<!DOCTYPE html>
<html>
<head>
    <title>Artisti</title>
    <div th:replace="~{fragments :: Stylesheet}"></div>
</head>
<body>
    <div th:if="${role!=null && role=='ADMIN'}"><div th:replace="~{fragments :: Navbar-admin}"></div></div>
    <div th:if="${role!=null && role=='DEFAULT'}"><div th:replace="~{fragments :: Navbar-logged}"></div></div>

    <section class="generic_section">
        <div class="container">
            <h1 class="text-center text-uppercase fw-bolder pt-3">Artisti</h1>
            <br>
            
            <div th:if="${artists.isEmpty()}">Non ci sono artisti nel sistema</div>

            <div class="row">
                <div th:each="artist : ${artists}" class="col-md-4 mb-4">
                    <div class="artist-box">
                        <!-- Immagine dell'artista -->
                        <div class="artist-image">
                            <img th:src="@{'/image/' + ${artist.image.id}}" class="img-fluid rounded" style="width: 100%; height: 300px; object-fit: cover;">
                        </div>
                        <!-- Nome e cognome dell'artista -->
                        <h2 class="text-center mt-3">
                            <a th:href="@{'/artists/' + ${artist.id}}" th:text="${artist.name} + ' ' + ${artist.surname}" class="text-white"></a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{fragments :: Footer}"></div>
</body>
</html>
