<!DOCTYPE html>
<html>

<head>
	<title>
		Register User
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

	<div>
    <div><a href="/">Home</a></div>
	</div>
	<h1>Registrazione nuovo utente</h1>
	<form th:action="@{/register}" method="POST" enctype="multipart/form-data">
		<!-- CREDENTIALS -->
		<div>
			<label>Username</label>
			<span>
				<input type="text" placeholder="username" th:field="${credentials.username}" />
			</span>
			<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="*{credentials.username}"
				th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Password</label>
			<span><input type="password" placeholder="password" th:field="${credentials.password}" />
			</span>
			<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="*{credentials.password}"
				th:style="'color:red'">
			</span>
		</div>
		<!-- USER -->
		<div>
			<label>Nome</label>
			<span><input type="text" placeholder="nome" th:field="${user.name}" /></span>
			<span th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Cognome</label>
			<span><input type="text" placeholder="cognome" th:field="${user.surname}" /></span>
			<span th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}" th:style="'color:red'">
			</span>
		</div>
		<div>
		 <label>Data di Nascita:</label>
            <span><input type="date" th:field="*{user.dateOfBirth}" /></span>
            <!-- Sezione per la validazione -->
            <span th:if="${#fields.hasErrors('user.dateOfBirth')}" th:errors="*{user.dateOfBirth}" th:style="'color:red'" ></span>
		</div>
		<div>
            <label>Carica immagine:</label>
        	<input type="file" name="file" required>
        </div>
		<div>
			<button type="submit">Registrati</button>
		</div>
		<br>
		<div>
			Sei già registrato? <a th:href="@{/login}"> Fai l'accesso qui</a>
		</div>
	</form>
</body>

</html>