<!DOCTYPE html>
<html>
<head>
    <title>Register User</title>
    <div th:replace="~{fragments :: Stylesheet}"></div>
</head>

<body>

    <div th:replace="~{fragments :: Navbar}"></div>

    <div class="wrapper d-flex flex-column min-vh-100">
        <main class="flex-fill">   
            <section class="generic_section">
                <div class="container">
                    <div class="my-5">
                        <h1 class="text-center text-uppercase fw-bolder pt-3">Registrazione nuovo utente</h1>
                    </div>

                    <form th:action="@{/register}" method="POST" enctype="multipart/form-data" class="my-3">
                        
                        <!-- USER -->
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" placeholder="nome" th:field="${user.name}" class="form-control">
                            <span th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Cognome</label>
                            <input type="text" placeholder="cognome" th:field="${user.surname}" class="form-control">
                            <span th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Data di Nascita:</label>
                            <input type="date" th:field="*{user.dateOfBirth}" class="form-control">
                            <span th:if="${#fields.hasErrors('user.dateOfBirth')}" th:errors="*{user.dateOfBirth}" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" placeholder="email" th:field="${user.email}" class="form-control">
                            <span th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" class="text-danger"></span>
                        </div>

                        <!-- CREDENTIALS -->
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" placeholder="username" th:field="${credentials.username}" class="form-control">
                            <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="*{credentials.username}" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" placeholder="password" th:field="${credentials.password}" class="form-control">
                            <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="*{credentials.password}" class="text-danger"></span>
                        </div>
						
						<div class="mb-2">
						  <label class="form-label">Carica immagine (si consiglia max 500x500):</label>
						  <input type="file" name="file" class="form-control">
						</div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success me-2 mt-3">Registrati</button>
                        </div>
                    </form>

                    <div>
                        Sei già registrato? <a th:href="@{/login}">Fai l'accesso qui</a>
                    </div>
                    <br>
                </div>
            </section>
        </main>
        <div th:replace="~{fragments :: Footer}"></div>
    </div>
</body>
</html>
