<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<!--------------------------------------------STYLESHEET------------------------------------------------------>
<div th:fragment="Stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
	rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script src="https://kit.fontawesome.com/cd21cc4b26.js" crossorigin="anonymous"></script>
	<link href="/css/style.css" rel="stylesheet">
</div>
<!------------------------------------------NAVBAR CHECK------------------------------------------------------------->
<div th:fragment="Navbar-check">
<div th:if="${#authorization.expression('isAnonymous()')}">
    <div th:replace="~{fragments :: Navbar}"></div>
</div>
<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <div th:replace="~{fragments :: Navbar-admin}"></div>
</div>
<div th:if="${#authorization.expression('hasRole(''USER'')')}">
    <div th:replace="~{fragments :: Navbar-logged}"></div>
</div>
</div>
<!--------------------------------------------NAVBAR Anonymous------------------------------------------------------>
<nav class="navbar navbar-expand-lg custom-navbar sticky-top" th:fragment="Navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
		  <img src="/images/logo/logo_orizzontale.png" width="180">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ms-4">
          <a class="nav-link" href="/plays">Spettacoli</a>
        </li>
		<li class="nav-item ms-4">
			<a class="nav-link" href="/artists">Artisti</a>
		</li>
		<li class="nav-item ms-4">
			<a class="nav-link" href="/login"><i class="bi bi-person-circle"></i></a>
		</li>
      </ul>
    </div>
  </div>
</nav>
<!--------------------------------------------NAVBAR Logged------------------------------------------------------>
<nav class="navbar navbar-expand-lg custom-navbar sticky-top" th:fragment="Navbar-logged">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
		<img src="/images/logo/logo_orizzontale.png" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ms-4">
          <a class="nav-link" href="/plays">Spettacoli</a>
        </li>
		<li class="nav-item ms-4">
			<a class="nav-link" href="/artists">Artisti</a>
		</li>
		<li class="nav-item dropdown ms-4">
			<a class="nav-link dropdow-toggle" href="/login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-person-circle"></i>
			</a>
		  <ul class="dropdown-menu dropdown-menu-end">
			<li><a class="dropdown-item" href="/user/profile">Profilo</a></li>
		    <li><a class="dropdown-item" href="/user/manageMyRecipes">Le tue ricette</a></li>
			<li><hr class="dropdown-divider"></li>
		    <li><a class="dropdown-item" href="/logout">Logout</a></li>
		  </ul>
		</li>

      </ul>
    </div>
  </div>
</nav>
<!--------------------------------------------NAVBAR Admin------------------------------------------------------>
<nav class="navbar navbar-expand-lg custom-navbar sticky-top" th:fragment="Navbar-admin">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
		<img src="/images/logo/logo_orizzontale.png" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown ms-4">
          <a class="nav-link dropdow-toggle" href="/plays" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Spettacoli
		  </a>
		  <ul class="dropdown-menu">
		    <li><a class="dropdown-item" href="/admin/managePlays">Gestisci Spettacoli</a></li>
		  	<li><a class="dropdown-item" href="/admin/formNewPlay">Aggiungi Spettacoli</a></li>
		  </ul>
        </li>
		
		<li class="nav-item dropdown ms-4">
			<a class="nav-link dropdow-toggle" href="/artists" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Artisti
			</a>
			<ul class="dropdown-menu dropdown-menu-end">
			  <li><a class="dropdown-item" href="/admin/manageArtists">Gestisci Artisti</a></li>
			  <li><a class="dropdown-item" href="/admin/formNewArtist">Aggiungi Artisti</a></li>
			</ul>
		</li>
		
		<li class="nav-item dropdown ms-4">
			<a class="nav-link dropdow-toggle" href="/bookings" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Prenotazioni
			</a>
			<ul class="dropdown-menu dropdown-menu-end">
			  <li><a class="dropdown-item" href="/admin/manageBookings">Gestisci Prenotazioni</a></li>
			  <li><a class="dropdown-item" href="/admin/formNewBooking">Aggiungi Prenotazioni</a></li>
			</ul>
		</li>

		<li class="nav-item dropdown ms-4">
			<a class="nav-link dropdow-toggle" href="/login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-person-circle"></i>
			</a>
		  <ul class="dropdown-menu dropdown-menu-end">
		    <li><a class="dropdown-item" href="/logout">Logout</a></li>
		  </ul>
		</li>

      </ul>
    </div>
  </div>
</nav>

<!-----------------------------------------------CAROUSEL-------------------------------------------------->
<div id="carouselExampleDark" class="carousel carousel slide" data-bs-ride="carousel" th:fragment="Carousel-home">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
	<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
	<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="/images/slider/Sogno-di-una-notte-di-mezza-estate-11.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/slider/A-christmas-carol-6.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/slider/Romeo-e-Giulietta-12.png" class="d-block w-100" alt="...">
    </div>
	<div class="carousel-item" data-bs-interval="3000">
	      <img src="/images/slider/otello-1.png" class="d-block w-100" alt="...">
	    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-----------------------------------------------FOOTER---------------------------------------------------->
<div th:fragment="Footer" id="footer">
	<footer class="footer text-center bg-black py-5">
	    <div class="container">
	        <h1 class="contact fw-bold text-white">CONTATTACI:</h1>
			<div class="social-icons mt-4">
			    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook fa-2xl me-2 text-red"></i></a>
			    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram fa-2xl ms-2 text-red"></i></a>
			</div>

	        <div class="info text-white mt-4">
	            <div>PEC: compagniacontrotempo@pec.it</div>
	            <div>Associazione/compagnia teatrale Controtempo ETS</div>
	            <div>Via Antonio Cantele, 19 00123 Roma (RM)</div>
	            <div>P.I. 14896631000 C.F. 97894200589</div>
	        </div>
	    </div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script></div>
</div>
</body>
</html>
