<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
		SiwTheatre - Homepage
	</title>	
	<div th:replace="~{fragments :: Stylesheet}"></div>
</head>
<body>	
	<div th:if="${role!=null && role=='ADMIN'}"><div th:replace="~{fragments :: Navbar-admin}"></div></div>
	<div th:if="${role!=null && role=='DEFAULT'}"><div th:replace="~{fragments :: Navbar-logged}"></div></div>
	<div th:if="${#authorization.expression('isAnonymous()')}"><div th:replace="~{fragments :: Navbar}"></div></div>

	<div th:replace="~{fragments :: Carousel-home}"></div>

</body>
</html>