<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Play</title>
    <div th:replace="~{fragments :: Stylesheet}"></div>
</head>
<body>
    <div th:if="${role!=null && role=='ADMIN'}"><div th:replace="~{fragments :: Navbar-admin}"></div></div>
    <div th:if="${role!=null && role=='DEFAULT'}"><div th:replace="~{fragments :: Navbar-logged}"></div></div>
    <div th:if="${#authorization.expression('isAnonymous()')}"><div th:replace="~{fragments :: Navbar}"></div></div>
    <div class="wrapper d-flex flex-column min-vh-100">
        <main class="flex-fill">
            <div class="container my-4">
                <div th:if="${play}" class="card shadow-lg">
                    <div class="card-header text-center bg-red text-white">
                        <h1 th:text="${play.name}" class="fw-bold text-uppercase"></h1>
						<h4 th:text="'(' + ${play.city} + ', ' + ${#temporals.format(play.date, 'dd-MM-yyyy')} + ', ' + ${play.time}+')'"></h4>
                    </div>
                    <div class="card-body bg-black">
                        <div class="row">
                            <div class="col-md-6 text-center align-self-center">
                                <img th:src="@{'/image/' + ${play.image.id}}" class="img-fluid rounded standard-image" alt="Play Image">
                            </div>
                            <div class="col-md-6">
								<p th:text="${play.description}"></p>
								<label class="text-white">Location:</label><h4 th:text="${play.location}"></h4>
                                <label class="text-white">Numero biglietti disponibili:</label><h4 th:text="${play.availableTickets}"></h4>
                                <label class="text-white">Prezzo:</label> <h4 th:text="${play.price}+&euro;"></h4>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6 text-center">
                                <h2>Artisti</h2>
                                <div th:if="${play.artists.isEmpty()}">Nessun artista inserito</div>
                                <div th:if="${!play.artists.isEmpty()}">
                                    <ul class="list-group list-group-horizontal justify-content-center">
                                        <li th:each="artist : ${play.artists}" class="list-group-item">
                                            <span th:text="${artist}"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
							<div class="text-center col-md-6 mt-4">
							    <a th:href="@{'/bookings/' + ${play.id}}" class="btn btn-lg btn-primary">Prenota Ora</a>
							</div>

                        </div>
                    </div>
                </div>
                <div th:unless="${play}" class="alert alert-danger mt-3">Non esiste</div>
            </div>
        </main>
        <div th:replace="~{fragments :: Footer}"></div>
    </div>
</body>
</html>
