<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Plays</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/">Home</a></div>
    <h1>Spettacoli</h1>
    <div th:if="${plays.isEmpty()}">Non ci sono spettacoli nel sistema</div>
    <ul>
      <li th:each="play : ${plays}">
        <a th:href="@{'/play/' + ${play.id}}"
           th:text="${play.name}"></a>
        <span th:text=" ' (' + ${play.location} + ', ' + ${#temporals.format(play.date, 'dd-MM-yyyy')} + ')'"></span>
      </li>
    </ul>
  </body>

</html>
