<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Successful</title>
    <div th:replace="~{fragments :: Stylesheet}"></div>
</head>
<body>
    <!-- Inserire il fragment per la navbar -->
 	<div th:if="${role!=null && role=='ADMIN'}"><div th:replace="~{fragments :: Navbar-admin}"></div></div>
    <div th:if="${role!=null && role=='DEFAULT'}"><div th:replace="~{fragments :: Navbar-logged}"></div></div>
    <div th:if="${#authorization.expression('isAnonymous()')}"><div th:replace="~{fragments :: Navbar}"></div></div>
	<div class="wrapper d-flex flex-column min-vh-100">
	<main class="flex-fill">	
   
    <!-- Sezione personalizzata per il contenuto principale -->
    <section class="about-section">
        <div class="container text-center my-5">
            <span>Registrazione avvenuta con successo!</span>
        </div>
    </section>
	</main>
    <!-- Inserire il fragment per il footer -->
    <div th:replace="~{fragments :: Footer}"></div>
	</div>
</body>
</html>
